.todo{
    padding-inline: 1rem;    
}
.todoHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.todoContent{
    display: flex;
    align-items: center;
    gap: 10px;
}
.todoButtons{
    display: flex;
    gap: 16px;
}
.todoButtons button{
    background: none;
    border: none;
    cursor: pointer;
}
.todoDescription{
    margin-left: 30px;
}
.custom-checkbox-todo {
    width: 14px;
    height: 14px;
    border: 2px solid #007BFF; 
    display: inline-block;
    border-radius: 50%; 
    cursor: pointer;
    position: relative; 
}


