.target{
    border-radius: 1rem;
    background-color: #111111;
    padding: 1rem;    
}
.targetHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.targetContent{
    display: flex;
    align-items: center;
    gap: 10px;
}
.targetButtons{
    display: flex;
    gap: 16px;
}
.targetDescription{
    margin-left: 30px;
    margin-bottom: 32px;
}