.target{
    border-radius: 1rem;
    background-color: #111111;
    padding: 1rem;    
    margin-bottom: 20px;
}
.targetHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.targetContent{
    display: flex;
    align-items: center;
    gap: 10px;
}
.targetButtons{
    display: flex;
    gap: 16px;
}
.targetButtons button{
    background: none;
    border: none;
    cursor: pointer;
}
.targetDescription{
    margin-left: 30px;
    margin-bottom: 32px;
}
.target ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 32px;
}
.noTodos{
    text-align: center;
    color: var(--cor-secundaria);
    margin-bottom: 32px;
}
.addButton{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    background: none;
    outline: none;
    cursor: pointer;
    border: none;
}
.addTodoForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.addTodoForm input{
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    padding: .5rem 1rem;
    flex-grow: 1;
    background: none;
    border: 2px solid var(--cor-secundaria);
    border-radius: 1rem;
    outline: none;
    color: #fff;
}


input[type="checkbox"] {
    display: none;
}

.custom-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #007BFF; 
    display: inline-block;
    border-radius: 50%; 
    cursor: pointer;
    position: relative; 
}

input[type="checkbox"]:checked + .custom-checkbox {
    background-color: #007BFF; 
}

input[type="checkbox"]:checked + .custom-checkbox::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    width: 5px; 
    height: 10px; 
    transform: rotate(-145deg);
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    border-radius: 2px; 
}